.home{
   padding-bottom: 100px;
   padding: 0px 10px;
}
.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}
.hero p{
    width: 75%;
    line-height: 1.5;
    color: #e3e3ee;
}
.hero form{
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    width: 80%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.hero input{
    border: none;
    outline: none;
    padding-left: 10px;
    flex: 1;
    font-size: 16px;
}
.hero button{
    border: none;
    padding: 9px 30px;
    border-radius: 5px;
    background-color: #7927ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.hero h1{
    font-size: max(4vw,36px);
}
.crypto-table{
    margin: auto;
    max-width: 800px;
    background: linear-gradient(rgba(84,3,255,0.15),rgba(105,2,153,0.15));
    
    border-radius: 15px;
}
.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    border-bottom: 1px solid #3c3c3c;
    align-items: center;
}
.marketcap{
    text-align: right;
}